USE [GPSTest]
GO
/****** Object:  Table [dbo].[Tb_Command]    Script Date: 01/26/2018 10:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_Command](
	[Command] [varchar](100) NOT NULL,
	[SQLstring] [varchar](8000) NOT NULL,
	[_MASK_FROM_V2] [timestamp] NOT NULL,
 CONSTRAINT [PK_Tb_Command] PRIMARY KEY CLUSTERED 
(
	[Command] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'CheckedPAbnormalInput', N'select COUNT(*) from PAbnormalInput where ZhiDan=@zhidan and ProblemDescription=@problem')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'checkedPEncodingSetting', N'select COUNT(*) from PEncodingSetting where BarcodeEncoding=@be ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'checkedPExceptionTypes', N'select COUNT(*) from PExceptionTypes where ExceptionTypes=@et')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectAssembly', N'declare @flg bit  
set @flg=@f  
if(@flg=1)  
begin  
select ZhiDan,Computer,TestTime,SoftModel 
from Gps_AutoTest_Result
where  Computer is not null  and TestTime>=@begintime and TestTime<=@endtime 
order by TestTime  
end  
else 
begin  
select ZhiDan,Computer,TestTime,SoftModel
from Gps_AutoTest_Result 
where  TestTime>=@begintime and TestTime<=@endtime 
order by TestTime  
end')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectAssemblySMT', N'declare @flg bit  
set @flg=@f  
if(@flg=1)  
begin  
select ZhiDan,Computer,TestTime ,SoftModel
from Gps_AutoTest_Result2 
where Computer is not null  and TestTime>=@begintime and TestTime<=@endtime 
order by TestTime  
end  
else  
begin  
select ZhiDan,Computer,TestTime,SoftModel 
from Gps_AutoTest_Result2 
where  TestTime>=@begintime and TestTime<=@endtime 
order by TestTime  
end
')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectColumn_name', N'declare @objid int,@objname char(40)
set @objname = ''ProductSet''
select @objid = id from sysobjects where id = object_id(@objname)
select ''Column_name'' = name from syscolumns where id = @objid order by colid')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectErrorMessage1', N'declare @zhidan1 varchar(100)
set @zhidan1=@zhidan
if @zhidan1<>'''' 
begin
select ZhiDan,SoftModel,Version,SN,ErrorMessage1,Computer,TestTime 
from LTestLogMessage 
where ZhiDan=@zhidan1 and ErrorMessage1 is not null and TestTime>=@begintime and TestTime<=@endtime 
order by Computer + ErrorMessage1
end
else
begin
select ZhiDan,SoftModel,Version,SN,ErrorMessage1,Computer,TestTime 
from LTestLogMessage 
where  ErrorMessage1 is not null and TestTime>=@begintime and TestTime<=@endtime 
order by Computer + ErrorMessage1
end  ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectErrorMessage2', N'declare @zhidan1 varchar(100)
set @zhidan1=@zhidan
if @zhidan1<>''''
begin
 select ZhiDan,SoftModel,Version,SN,ErrorMessage2,Computer2,TestTime 
 from LTestLogMessage   
 where ZhiDan=@zhidan1 and ErrorMessage2 is not null and TestTime>=@begintime and TestTime<=@endtime 
 order by Computer2 + ErrorMessage2  
end
else
begin
 select ZhiDan,SoftModel,Version,SN,ErrorMessage2,Computer2,TestTime 
 from LTestLogMessage   
 where ErrorMessage2 is not null and TestTime>=@begintime and TestTime<=@endtime 
 order by Computer2 + ErrorMessage2  
end ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectErrorMessage3', N'declare @zhidan1 varchar(100)  
set @zhidan1=@zhidan  
if @zhidan1<>''''   
begin  
select ZhiDan,SoftModel,Version,SN,ErrorMessage4,Computer4,TestTime   
from LTestLogMessage   
where ZhiDan=@zhidan1 and ErrorMessage4 is not null and TestTime>=@begintime and TestTime<=@endtime   
order by Computer4 + ErrorMessage4  end  
else  
begin  
select ZhiDan,SoftModel,Version,SN,ErrorMessage4,Computer4,TestTime   
from LTestLogMessage   
where  ErrorMessage4 is not null and TestTime>=@begintime and TestTime<=@endtime   
order by Computer4 + ErrorMessage4  end   ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectErrorMessage4', N'declare @zhidan1 varchar(100)
set @zhidan1=@zhidan
if @zhidan1<>''''
begin 
select ZhiDan,SoftModel,Version,SN,ErrorMessage3,Computer3,TestTime 
from LTestLogMessage 
where ZhiDan=@zhidan1 and ErrorMessage3 is not null and TestTime>=@begintime and TestTime<=@endtime 
order by Computer3 + ErrorMessage3  
end
else
begin
select ZhiDan,SoftModel,Version,SN,ErrorMessage3,Computer3,TestTime 
from LTestLogMessage 
where  ErrorMessage3 is not null and TestTime>=@begintime and TestTime<=@endtime 
order by Computer3 + ErrorMessage3 
end   ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectLPrintMarkData', N'  declare @flg bit    
set @flg=@f    
if(@flg=1)    
begin    
select ZhiDan,Computer,TestTime,SoftModel   
from LPrintMarkData  
where  Computer is not null  and TestTime>=@begintime and TestTime<=@endtime   
order by TestTime    
end    
else   
begin    
select ZhiDan,Computer,TestTime,SoftModel  
from LPrintMarkData   
where  TestTime>=@begintime and TestTime<=@endtime   
order by TestTime    end ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectPackaging', N'declare @flg bit  
set @flg=@f  
if(@flg=1)  
begin  
select ZhiDan,Computer,TestTime ,SoftModel
from Gps_CartonBoxTwenty_Result 
where  Computer is not null  and TestTime>=@begintime and TestTime<=@endtime 
order by TestTime  
end  
else  
begin  
select ZhiDan,Computer,TestTime,SoftModel 
from Gps_CartonBoxTwenty_Result 
where TestTime>=@begintime and TestTime<=@endtime 
order by TestTime  
end
')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectProductionTypeOnWorkTimeType', N'   declare @OnWorkTimeType1 varchar(50)
 set @OnWorkTimeType1=@OnWorkTimeType
 if @OnWorkTimeType1<>''''
 begin
  select ProductType from ProductionType where OnWorkTimeType=@OnWorkTimeType1 
 end
 else
 begin
 select ProductType from ProductionType
 end  ')
GO
print 'Processed 100 total records'
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectProductPerformanceAssembly', N'declare @bit bit,@order varchar(100),@softmodel varchar(20),@timebegin datetime,@timeend datetime  
set @bit=@bt  
set @order=@ord  
set @softmodel=@sof  
set @timebegin=@begin  
set @timeend=@end  
if @bit = 1  
begin   
if @order<>'''' and @softmodel=''''   
begin    
select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel,Computer  
from Gps_AutoTest_Result         
where Result<>0 and ZhiDan=@order    
order by AssemblyTime,AssemblyOrder   
end   
if @order='''' and @softmodel<>''''   
begin    
select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel,Computer  
from Gps_AutoTest_Result         
where Result<>0 and SoftModel=@softmodel    
order by AssemblyTime,AssemblyOrder   
end   
if @order<>'''' and @softmodel<>''''   
begin    
select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel,Computer  
from Gps_AutoTest_Result         
where Result<>0 and SoftModel=@softmodel and ZhiDan=@order    
order by AssemblyTime,AssemblyOrder   
end  
end  
else  
begin   
if @order<>'''' and @softmodel=''''   
begin    
select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel,Computer  
from Gps_AutoTest_Result        
 where Result<>0 and ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend     
 order by AssemblyTime,AssemblyOrder   
 end   
 if @order='''' and @softmodel<>''''   
 begin    
 select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel,Computer  
 from Gps_AutoTest_Result         
 where Result<>0 and SoftModel=@softmodel and TestTime>=@timebegin and TestTime<=@timeend     
 order by AssemblyTime,AssemblyOrder   
 end   
 if @order<>'''' and @softmodel<>''''   
 begin    
 select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel,Computer  
 from Gps_AutoTest_Result         
 where Result<>0 and SoftModel=@softmodel and ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend     
 order by AssemblyTime,AssemblyOrder   
 end  
 if @order='''' and @softmodel=''''
 begin
   select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel,Computer  
 from Gps_AutoTest_Result    
 where Result<>0 and TestTime>=@timebegin and TestTime<=@timeend     
 order by AssemblyTime,AssemblyOrder   
 end
 end   ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectProductPerformanceAssemblySMT', N'  declare @bit bit,@order varchar(100),@softmodel varchar(20),@timebegin datetime,@timeend datetime  
 set @bit=@bt  set @order=@ord  set @softmodel=@sof  set @timebegin=@begin  set @timeend=@end  
 if @bit = 1  
 begin   
 if @order<>'''' and @softmodel=''''   
 begin    
 select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel ,Computer 
 from Gps_AutoTest_Result2           
 where Result<>0 and ZhiDan=@order    
 order by AssemblyTime,AssemblyOrder   
 end   
 if @order='''' and @softmodel<>''''   
 begin    
 select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel ,Computer 
 from Gps_AutoTest_Result2           
 where Result<>0 and SoftModel=@softmodel    
 order by AssemblyTime,AssemblyOrder   
 end   
 if @order<>'''' and @softmodel<>''''   
 begin    
 select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel ,Computer 
 from Gps_AutoTest_Result2           
 where Result<>0 and SoftModel=@softmodel and ZhiDan=@order    
 order by AssemblyTime,AssemblyOrder   
 end  
 end  
 else  
 begin   
 if @order<>'''' and @softmodel=''''   
 begin    
 select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel ,Computer 
 from Gps_AutoTest_Result2         
  where Result<>0 and ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend     
  order by AssemblyTime,AssemblyOrder   
  end   
  if @order='''' and @softmodel<>''''   
  begin    
  select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel ,Computer 
  from Gps_AutoTest_Result2           
  where Result<>0 and SoftModel=@softmodel and TestTime>=@timebegin and TestTime<=@timeend     
  order by AssemblyTime,AssemblyOrder   
  end   
  if @order<>'''' and @softmodel<>''''   
  begin    
  select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel ,Computer 
  from Gps_AutoTest_Result2          
  where Result<>0 and SoftModel=@softmodel and ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend     
  order by AssemblyTime,AssemblyOrder   
  end  
  if @order='''' and @softmodel=''''
  select ZhiDan as AssemblyOrder,TestTime as AssemblyTime ,SoftModel as AssemblySoftModel ,Computer 
  from Gps_AutoTest_Result2  
  where Result<>0 and TestTime>=@timebegin and TestTime<=@timeend     
  order by AssemblyTime,AssemblyOrder   
  end    ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectProductPerformanceLPrintMarkData', N'  declare @bit bit,@order varchar(100),@softmodel varchar(20),@timebegin datetime,@timeend datetime     
  set @bit=@bt  set @order=@ord  set @softmodel=@sof  set @timebegin=@begin  set @timeend=@end     
  if @bit = 1     
  begin      
  if @order<>'' and @softmodel=''      
  begin       
  select ZhiDan as PrinMarkZhiDan,TestTime as PrinMarTime ,SoftModel as PrinMarSoftModel ,Computer    
  from LPrintMarkData              
  where  ZhiDan=@order       
  order by PrinMarTime,PrinMarkZhiDan      
  end      
  if @order='' and @softmodel<>''      
  begin       
  select ZhiDan as PrinMarkZhiDan,TestTime as PrinMarTime ,SoftModel as PrinMarSoftModel ,Computer    
  from LPrintMarkData              
  where SoftModel=@softmodel       
  order by PrinMarTime,PrinMarkZhiDan      
  end      
  if @order<>'' and @softmodel<>''      
  begin       
  select ZhiDan as PrinMarkZhiDan,TestTime as PrinMarTime ,SoftModel as PrinMarSoftModel ,Computer    
  from LPrintMarkData               
  where  SoftModel=@softmodel and ZhiDan=@order       
  order by PrinMarTime,PrinMarkZhiDan      
  end     
  end     
  else     
  begin      
  if @order<>'' and @softmodel=''      
  begin       
  select ZhiDan as PrinMarkZhiDan,TestTime as PrinMarTime ,SoftModel as PrinMarSoftModel ,Computer    
  from LPrintMarkData             
  where  ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend         
  order by PrinMarTime,PrinMarkZhiDan       
  end       
  if @order='' and @softmodel<>''       
  begin        
  select ZhiDan as PrinMarkZhiDan,TestTime as PrinMarTime ,SoftModel as PrinMarSoftModel ,Computer    
  from LPrintMarkData              
  where  SoftModel=@softmodel and TestTime>=@timebegin and TestTime<=@timeend         
  order by PrinMarTime,PrinMarkZhiDan       
  end       
  if @order<>'' and @softmodel<>''       
  begin        
  select ZhiDan as PrinMarkZhiDan,TestTime as PrinMarTime ,SoftModel as PrinMarSoftModel ,Computer    
  from LPrintMarkData             
  where  SoftModel=@softmodel and ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend         
  order by PrinMarTime,PrinMarkZhiDan       
  end      
  if @order='' and @softmodel=''    
  select ZhiDan as PrinMarkZhiDan,TestTime as PrinMarTime ,SoftModel as PrinMarSoftModel ,Computer    
  from LPrintMarkData      
  where TestTime>=@timebegin and TestTime<=@timeend         
  order by PrinMarTime,PrinMarkZhiDan       
  end    ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectProductPerformancePackaging', N' declare @bit bit,@order varchar(100),@softmodel varchar(20),@timebegin datetime,@timeend datetime  
 set @bit=@bt  set @order=@ord  set @softmodel=@sof  set @timebegin=@begin  set @timeend=@end  
 if @bit = 1  
 begin   
 if @order<>'''' and @softmodel=''''   
 begin    
 select ZhiDan as PackagingOrder, TestTime as PackagingTime,SoftModel as PackagingSoftModel ,Computer   
 from Gps_CartonBoxTwenty_Result           
 where  ZhiDan=@order    
 order by PackagingTime,PackagingOrder   
 end   
 if @order='''' and @softmodel<>''''   
 begin    
 select ZhiDan as PackagingOrder, TestTime as PackagingTime,SoftModel as PackagingSoftModel ,Computer   
 from Gps_CartonBoxTwenty_Result         
 where  SoftModel=@softmodel    
 order by PackagingTime,PackagingOrder   
 end   
 if @order<>'''' and @softmodel<>''''   
 begin    
 select ZhiDan as PackagingOrder, TestTime as PackagingTime,SoftModel as PackagingSoftModel ,Computer   
 from Gps_CartonBoxTwenty_Result          
 where  SoftModel=@softmodel and ZhiDan=@order    
 order by PackagingTime,PackagingOrder   
 end  
 end  
 else  
 begin   
 if @order<>'''' and @softmodel=''''   
 begin    
 select ZhiDan as PackagingOrder, TestTime as PackagingTime,SoftModel as PackagingSoftModel ,Computer   
 from Gps_CartonBoxTwenty_Result          
 where ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend     
 order by PackagingTime,PackagingOrder   
 end   
 if @order='''' and @softmodel<>''''   
 begin    
 select ZhiDan as PackagingOrder, TestTime as PackagingTime,SoftModel as PackagingSoftModel ,Computer   
 from Gps_CartonBoxTwenty_Result          
 where  SoftModel=@softmodel and TestTime>=@timebegin and TestTime<=@timeend     
 order by PackagingTime,PackagingOrder   
 end   
 if @order<>'''' and @softmodel<>''''   
 begin    
 select ZhiDan as PackagingOrder, TestTime as PackagingTime,SoftModel as PackagingSoftModel ,Computer   
 from Gps_CartonBoxTwenty_Result        
 where  SoftModel=@softmodel and ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend     
 order by PackagingTime,PackagingOrder   
 end  
 if @order='''' and @softmodel=''''
 begin
 select ZhiDan as PackagingOrder, TestTime as PackagingTime,SoftModel as PackagingSoftModel ,Computer   
 from Gps_CartonBoxTwenty_Result
 where TestTime>=@timebegin and TestTime<=@timeend
 order by PackagingTime,PackagingOrder
 end
 end  ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectProductPerformanceTest', N'declare @bit bit,@order varchar(100),@softmodel varchar(20),@timebegin datetime,@timeend datetime  
 set @bit=@bt  set @order=@ord  set @softmodel=@sof  set @timebegin=@begin  set @timeend=@end  
 if @bit = 1  
 begin   
 if @order<>'''' and @softmodel=''''  
 begin    
 select ZhiDan as TestOrder,TestTime as TestTime , SoftModel as TestSoftModel,Computer   
 from Gps_CoupleTest_Result           
 where Result<>0 and ZhiDan=@order    
 order by TestTime,TestOrder   
 end   if @order='''' and @softmodel<>''''   
 begin    
 select ZhiDan as TestOrder,TestTime as TestTime , SoftModel as TestSoftModel,Computer  
 from Gps_CoupleTest_Result            
 where Result<>0 and SoftModel=@softmodel    
 order by TestTime,TestOrder   
 end   
 if @order<>'''' and @softmodel<>''''   
 begin    
 select ZhiDan as TestOrder,TestTime as TestTime , SoftModel as TestSoftModel,Computer   
 from Gps_CoupleTest_Result       
 where Result<>0 and SoftModel=@softmodel and ZhiDan=@order    
 order by TestTime,TestOrder   
 end  
 end  
 else  
 begin   
 if @order<>'''' and @softmodel=''''  
 begin    
 select ZhiDan as TestOrder,TestTime as TestTime , SoftModel as TestSoftModel,Computer   
 from Gps_CoupleTest_Result      
 where Result<>0 and ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend     
 order by TestTime,TestOrder   
 end   
 if @order='''' and @softmodel<>''''   
 begin    
 select ZhiDan as TestOrder,TestTime as TestTime , SoftModel as TestSoftModel,Computer   
 from Gps_CoupleTest_Result         
 where Result<>0 and SoftModel=@softmodel and TestTime>=@timebegin and TestTime<=@timeend     
 order by TestTime,TestOrder   
 end   
 if @order<>'''' and @softmodel<>''''   
 begin    
 select ZhiDan as TestOrder,TestTime as TestTime , SoftModel as TestSoftModel,Computer   
 from Gps_CoupleTest_Result        
 where Result<>0 and SoftModel=@softmodel and ZhiDan=@order and TestTime>=@timebegin and TestTime<=@timeend     
 order by TestTime,TestOrder   
 end  
 if @order='''' and @softmodel=''''
 begin
 select ZhiDan as TestOrder,TestTime as TestTime , SoftModel as TestSoftModel,Computer   
 from Gps_CoupleTest_Result
 where Result<>0 and TestTime>=@timebegin and TestTime<=@timeend     
 order by TestTime,TestOrder
 end
 end ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectPurchaseReceiptCheckQualifiedStatistics', N'  create table #table(
	SupplierName varchar(80),
	sumNumber int,
	FinalJudgment int ,
	QualifiedNumber int,
	NotQualifiedNumber int,
	QualifiedRate int,
 ) 
 DECLARE @SupplierName varchar(80),@Number1 int,@Number2 int,@Number3 int,@Number4 int,@begintime datetime,@endtime datetime
 set @begintime=@beginTime1 set @endtime=@endTime1
 declare  my_cursor
 cursor  for 
 
 select distinct SupplierName from PurchaseReceipt where CheckQualified=''已检测'' and QualifiedTime2>=@begintime and QualifiedTime2<=@endtime
 
 open my_cursor
FETCH NEXT FROM my_cursor into @SupplierName 
while @@FETCH_STATUS = 0
begin
 

 set @Number1 = (select COUNT(SupplierName) from PurchaseReceipt  where CheckQualified=''已检测'' and SupplierName = @SupplierName)
 set @Number2 = (select COUNT(SupplierName) from PurchaseReceipt  where CheckQualified=''已检测'' and SupplierName = @SupplierName and WhetherQualified=0)
 set @Number3 = (select COUNT(SupplierName) from PurchaseReceipt  where CheckQualified=''已检测'' and SupplierName = @SupplierName and WhetherQualified=1)
 set @Number4= Round(1-(CONVERT(float,@Number2)/CONVERT(float,@Number1)),2)*100
 
 insert into #table(SupplierName,sumNumber,FinalJudgment,QualifiedNumber,NotQualifiedNumber,QualifiedRate) values(@SupplierName,@Number1,@Number2,@Number3,@Number2,@Number4)
 FETCH NEXT FROM my_cursor into @SupplierName
end
select* from #table
close my_cursor
DEALLOCATE my_cursor
drop table #table     ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectPurchaseReceiptIncomingAudit', N'  
  select PurchaseReceiptID,PurchaseNo,SupplierName,BatchNo,MaterialCode,MaterialName,MaterialSpecifications,ProductQuantity1,CheckAudit,QualifiedRate,FinancialEntry,UpdateTime1,OrderState,note,WhetherQualified,NotChooseNumber      
  from PurchaseReceipt    
  where CheckQualifiedUserName is not null and FinancialEntry=''已录入''and (WhetherQualified=0 or SpecialCompletion=1)  and ReturnGoods is null  order by OrderState desc        ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectSoftModel', N'select* into #t from(
select distinct SoftModel,ZhiDan from Gps_AutoTest_Result     
where TestTime>=@begintime and TestTime<=@endtime   
union    select distinct SoftModel ,ZhiDan from Gps_CoupleTest_Result   
 where TestTime>=@begintime and TestTime<=@endtime  
union     select distinct SoftModel,ZhiDan from Gps_AutoTest_Result2  
where TestTime>=@begintime and TestTime<=@endtime    
)A
select* from #t
where 1=1 ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectTest', N'declare @flg bit  
set @flg=@f  
if(@flg=1)  
begin  
select ZhiDan,Computer,TestTime,SoftModel 
from Gps_CoupleTest_Result 
where Computer is not null  and TestTime>=@begintime and TestTime<=@endtime 
order by TestTime  
end  
else  
begin  
select ZhiDan,Computer,TestTime ,SoftModel
from Gps_CoupleTest_Result 
where  TestTime>=@begintime and TestTime<=@endtime 
order by TestTime  
end')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectzOrder', N'select* into #t from(
select distinct ZhiDan as zOrder  from Gps_AutoTest_Result     
 where TestTime>=@begintime and TestTime<=@endtime    
union      
select distinct ZhiDan as zOrder  from Gps_CoupleTest_Result   
 where TestTime>=@begintime and TestTime<=@endtime     
union       
select distinct ZhiDan as zOrder from Gps_AutoTest_Result2 
    
 where TestTime>=@begintime and TestTime<=@endtime  
)A
select distinct * from #t
where 1=1 and zOrder is not null ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectzOrder1', N'declare @productName varchar(20), @begintime datetime,@endtime datetime 
set @productName=@pn set @begintime=@begin set @endtime=@end
if @productName=''鑫芯'' 
begin
  select* into #t 
from(  
select distinct ZhiDan as zOrder  
from Gps_AutoTest_Result        
where TestTime>=@begintime and TestTime<=@endtime     
 union        
 select distinct ZhiDan as zOrder  
 from Gps_CoupleTest_Result      
 where TestTime>=@begintime and TestTime<=@endtime )A
 select distinct * from #t  where 1=1 and zOrder is not null    
order by zOrder
drop table #t
end
 else if @productName=''几米'' or @productName=''几米（夜班）测试''
begin

select* into #t1 
from(       
 select distinct ZhiDan as zOrder 
 from Gps_AutoTest_Result2          
 where TestTime>=@begintime and TestTime<=@endtime    )A  
select distinct * from #t1  where 1=1 and zOrder is not null 
order by zOrder
drop table #t1
end 
else if  @productName=''''
begin

	select* into #t2 
from(  
select distinct ZhiDan as zOrder  
from Gps_AutoTest_Result        
where TestTime>=@begintime and TestTime<=@endtime     
 union        
 select distinct ZhiDan as zOrder  
 from Gps_CoupleTest_Result      
 where TestTime>=@begintime and TestTime<=@endtime       
 union         
 select distinct ZhiDan as zOrder 
 from Gps_AutoTest_Result2          
 where TestTime>=@begintime and TestTime<=@endtime    )A  
select distinct * from #t2  where 1=1 and zOrder is not null 
order by zOrder
drop table #t2
end  ')
INSERT [dbo].[Tb_Command] ([Command], [SQLstring]) VALUES (N'selectzOrderAndSoftModel', N'select* into #t from(
select distinct ZhiDan as zOrder,SoftModel  from Gps_AutoTest_Result     
 where TestTime>=@begintime and TestTime<=@endtime    
union      
select distinct ZhiDan as zOrder,SoftModel  from Gps_CoupleTest_Result   
 where TestTime>=@begintime and TestTime<=@endtime     
union       
select distinct ZhiDan as zOrder,SoftModel from Gps_AutoTest_Result2 
    
 where TestTime>=@begintime and TestTime<=@endtime  
)A
select distinct * from #t
where 1=1 and zOrder is not null  ')
